@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --bg: #f3f4f6;
  --text: #1f2937;
}

body {
  background: var(--bg);
  color: var(--text);
  -webkit-tap-highlight-color: transparent; /* Tắt highlight xanh khi tap trên mobile */
}

/* Ẩn thanh cuộn nhưng vẫn cuộn được */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}